body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .music-page {
  background-color: black;
} */

.song-card {
  padding-top: 5%;
  padding-bottom: 2%;
}

.searchbar {
  padding-top: 1.5%;
}

.form {
  padding-bottom: 1%;
}
